<div class="navigation"> 
            
  <img src="./true_or_false.png" width="25px" height="25px"></img>


<div class="menu">
  <a href="about">About</a>
  <a href="view_category">Catergory</a>
  <a href="team">Meet the Team</a>
  <a href="signup">Apply</a>
  <a href="login">Login</a>
</div>

<div class="icon">      
  <a href="#"><i class="fab symbol fa-instagram"></i></a>
  <a href="#"><i class="fab symbol fa-facebook-square"></i></a>
</div>

</div>