<%- include('partials/head')%>
    <div class="container">
      <%- include('partials/navigation') %>
    </div>       
      
        <label for="subjects"><h1>Categories:</h1></label>
        <select id="subjects">
        <!-- <input id="subjects" name="category"> -->
          <option value="history">History</option>
          <option value="health">Health</option>
          <option value="music">Music</option>
          <option value="economics">Econimics</option>
          <option value="politics">Politics</option>
        </select>
        
        
    
    <script>script.js</script>    
    </body>
    </html>
</html>