<%- include('partials/head') %>
    <form action="/addNewMyth" method = "post">
    
            
            <label for="Myth_Title">Myth Title:</label>
            <input type="text" id ="Myth_Title"name="Myth_Title">
            <label for="Myth_Description">Myth Description:</label>
            <input type="text" id ="Myth_Description" name="Myth_Description">
            <label for="validity">Valid?</label>
            <input type="checkbox" id ="validity" name="validity" >
            <label for="source">Extranal Sources:</label>
            <input type="text" id="source" name="source">
            <label for="date">Date</label>
            <input type="date" id="date" name="date">
            <label for="author">Published Author</label>
            <input type="text" id='author' class="author">
            <input type="submit" value="add"></input>

            
    </form>
    
</body>
</html>

