<%- include('partials/head') %>
  

    <h1>View ALl Myth PAGE!</h1>
<div class="container">
    <div class="toprow">
        <h2><a>Title</a></h2>
        <h2>Author</h2>
        <h2>Categories</h2>
        <h2><a>Date</a></h2>

    </div>

   
    <h1>All Fair Food Orders</h1>
    <br>
    <a href="/">Back home</a>
    <br>
    <table class="table thead-light table-striped table-hover">
        <thead class=thead-light>
            <tr>
                <th>Video Name:</th>
                <th>Professor:</th>
                <th>Date:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach( (single_video) => { %>
            <tr>
                <td><%= single_video.title %> </td>

                <td class=""><%= single_video.author %> </td>

                <td class=""><%= single_video.date %></td>
            </tr>
            <% }); %>
            
        </tbody>
    </table>

    
    
    <#= Create the view to show all myths in the admin. SortBY....
    show all data from mongo onto this page =>
    <#= create a route to show a myth to update and delete =>






</body>
</html>

