<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <h1>View ALl Myth PAGE!</h1>
<div class="container">
    <div class="toprow">
        <h2><a>Title</a></h2>
        <h2>Author</h2>
        <h2>Categories</h2>
        <h2><a>Date</a></h2>

    </div>

    <div class="second">
    <div><a>Ut ac risus purus. Cras sed diam condimentum, pellentesque</a></div>
    <div><a>Ut ac risus purus. Cras sed diam condimentum, pellentesque</a></div>
    <div><a>Ut ac risus purus. Cras sed diam condimentum, pellentesque</a></div>
    <div>01/25/09</div>
    </div>
</div>
    <#= %>
    
    
    <#= Create the view to show all myths in the admin. SortBY....
    show all data from mongo onto this page =>
    <#= create a route to show a myth to update and delete =>






</body>
</html>

