<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <div class="navigation"> 
            
                <img src="./true_or_false.png" width="25px" height="25px"></img>
            

            <div class="menu">
                <a href="about.html">About</a>
                <a href="content.html">Catergory</a>
                <a href="Meet_The_Team.html">Meet the Team</a>
                <a href="apply.html">SignUp</a>
                <a href="SignIn.html">Login</a>
            </div>

            <div class="icon">      
                <a href="#"><i class="fab symbol fa-instagram"></i></a>
                <a href="#"><i class="fab symbol fa-facebook-square"></i></a>
            </div>
              
        </div>
    </div>   
    
    <p>Your Account has been created!</p>
    <p>Please confirm your your verfication code through your email  .... A TOKEN</p>
</body>
</html>