<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>
</head>
<body>
    <h1><%=quote%></h1>

    <!-- <video width="320" height="240" controls>
        <source src="https://www.youtube.com/watch?v=cBlgurKd9NU" type="video/mp4">
        <source src="movie.ogg" type="video/"> -->
      <!-- </video> -->
<%= music%>
<div class="music">
<iframe id="classicalMusic" width="200" height="200" src="https://www.youtube.com/watch?v=cBlgurKd9NU">
</iframe>


<iframe id = "healingMusic" width="200" height="200" src="https://www.youtube.com/watch?v=kL_N0usexlw">
</iframe>
</div>
<%= politics%>
<div class ="politics">
    <iframe id="brokenPolitics" width="200" height="200" src="https://www.youtube.com/watch?v=6mOIMtEf7_Q">
    </iframe>

    <iframe id="brokenPolitics" width="200" height="200" src="https://www.youtube.com/watch?v=V6s7jB6-GoU">
    </iframe>

</div>
<%=history %>
<div>

<iframe id="AmericanHistroy" width="200" height="200" src="https://www.youtube.com/watch?v=0QigcivaDYg">
</iframe>

<iframe id="AmericanHistroy" width="200" height="200" src="https://www.youtube.com/watch?v=0QigcivaDYg">
</iframe>
</div>


<div>


</div>



<!-- <h1>checkbox:</h1>   
politics : "politics",
economics : "economics",
health : "health",
music : "music",
history :"American History" -->


</body>
</html>