<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To My Page</h1>
    <a href="/view_category"><h3>View Myths by Category</h3></a>
    <a href="/view_all"><h3>View All Myths</h3></a>
    <a href="/add_myth"><h3>Add A Myth</h3></a>
    
</body>
</html>

<!-- 1.Add myth
    2.view all myths show titles:then a more indepth 
Admin access = Dynamic CRUD Website: CRUD.... endpouints
No options = People dont have to sign in but not Signin wouldnt show certain butoons
limited options Signin =  show certain butons
foret username?
forgget password?
Login?
Users could -->