<%- include('partials/head') %>
    <div class="container">
      <%- include('partials/navigation') %>
    </div>   
    
    <h1>Facts or Myth is the common ground<br>
            the bridges the facts and oppinons,<br> 
            to logic!</h1>
    <hr>
   
    <h1>About</h1>
    <div class="column">
        <h2>WELCOME TO THE DOMAIN OF REALITY</h2>
        <p>In the world of subjective opinons draws a blur in the objective world of facts
                </p>
    </div>
</div>
<div class="box">
    <div class="cooksets"></div>
    <h1>Our Mission is to incubate the oppions,<br> while dishing out the facts with integrity<br> and ethics. </h1>

    <div class="column">
        <h2>What We Do?</h1>
            <p>We bring the facts, with in depth experts within their expertese to you.
            </p>
    </div>
</div>

<div class="box">
    <div class="hats"></div>

    <div class="column">
        <h2>Why do We bring the facts</h2>
        <p>A person without light is a person with no path </p>
    </div>

</div>
<div class="box">
    <div class="overlap"> 


   </div>
   <div class="column">
    <h2>When did we first establish & Why?</h2>
    <P> 1999 was the year Lorreno, recieve light from the most high to bring substaital truth to the forfont. </p>
     <p>The light came to Lorreno, whom was tired with the false information and agenda of sheep being pushed. </p>  
 </div>  




    </body>
</html>
   