
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <div class="navigation"> 
            
                <img src="./true_or_false.png" width="25px" height="25px"></img>
            

            <div class="menu">
                <a href="about.html">About</a>
                <a href="content.html">Catergory</a>
                <a href="Meet_The_Team.html">Meet the Team</a>
                <a href="apply.html">Apply</a>
                <a href="SignIn.html">Login</a>
            </div>

            <div class="icon">      
                <a href="#"><i class="fab symbol fa-instagram"></i></a>
                <a href="#"><i class="fab symbol fa-facebook-square"></i></a>
            </div>
              
        </div>
    </div>   
HISTORY HEALTH/Science Econmics POLITICS  

    <h1>Meet the Team</h1>
    <h3>Founder</h3>
        <h5>Lorreno Pierre</p>
        <p>Expertise is in Computer Science. With a fullstack background in Express,Node.js & Mongodb.</p>
        <p>He is currently working towards his bachelor's degree while practing civic leadership in the Boston Community</p>


    <div>
    <h5>Emmanuel Oyekanmi Akala</h3>
    <p>Professor of Pharmaceutics, Chair, Howard University Institutional Animal Care and Use Committee (IACUC) and Director, Laboratory for Nanomedicine, Drug Delivery, and Pharmaceutical & Biopharmaceutical Drug Products Design. USP EXPERT COMMITTEE
        Emmanuel O. Akala, R. Ph., Ph.D. is a Professor of Pharmaceutics, Chair, Howard University Institutional Animal Care and Use Committee (IACUC) and Director, Laboratory for Nanomedicine, Drug Delivery, and Pharmaceutical & Biopharmaceutical Drug Products Design.  His training is cosmopolitan and his curriculum vitae (CV) provides details of his professional training as a pharmacist and an immunization pharmacist (registered in Utah, Maryland, Washington DC and  in  Nigeria),  a  pharmacy professor, and  a research scientist with bias for conventional and novel drug delivery systems. Professor Akala received B. Pharm.  (Hons)  degree and M.Sc.  (Pharmaceutics)  degree at The  University  of  Ife  (Now  Obafemi Awolowo University), Ile-Ife, Nigeria and Ph.D. degree in Pharmaceutics at The University of Manchester,  England  (as  a  Commonwealth  Scholar).  
    </div>
    <div>
    <h5>Jessica Boykin-Settles </h5>
    <p> Jessica Boykin-Settles attended the Duke Ellington School of the Arts, Washington, DC under the tutelage of saxophonist and jazz educator, Davey Y. Yarborough. She earned a BFA in Jazz Performance at New School University in NYC where she studied with musicians and jazz legends such as Reggie Workman, Junior Mance, Arnie Lawrence, Buster Williams, Sheila Jordan and Teri Thornton.

        Jessica continued her education at Howard University where she earned a Master of Music degree in Jazz Studies. While there, she was a member of the premier vocal jazz ensemble Afro Blue, under the direction of Connaitre Miller. She is currently serving as Assistant Professor of Jazz Voice where she teaches voice lessons, jazz vocal improvisation, vocal arranging, jazz theory and directs the female vocal ensemble, SAASY. </p>
    </div>
    <h5>Cyrus Chestnut/h5>
    <p>Born on January 17, 1963, in Baltimore, MD; son of McDonald (a retired post office employee and church organist) and Flossie (a city social services worker and church choir director), soulful jazz pianist Cyrus Chestnut might just be proof positive of the impact that music has on babies in the womb. Either that, or a life in music was simply in his blood. Chestnut's father, a postal employee and the son of a church minister, was the official organist for the local church in Baltimore, Maryland, where Chestnut grew up. Young Cyrus's home was filled with the sounds of the gospel music that his church-going parents played in their home, along with jazz records by artists such as Thelonius Monk and Jimmy Smith. Chestnut has said that the roots of his love of music began there, and to this day, Chestnut's ties to the gospel church remain constant. "Growing up, gospel music was what I heard in the house," Chestnut told Down Beat magazine.

        As a boy Chestnut reached for the piano keys before he could walk, so his father began teaching the earnest three-year-old to play the piano. One of the first songs young Cyrus learned was "Jesus Loves Me."</p>

    <h5>Stacie Kent</h5>
    <p>Economics:Prof. Kent's research and teaching focus on global capitalism in imperial and post-colonial contexts. Trained in history and social theory at the University of Chicago, her work connects the temporal rhythms, expansionist needs, and spatial integration of capitalist reproduction to governance and work regimes in East and Southeast Asia.

        Prior to coming to Boston College she was as Harper Collegiate Fellow and Assistant Collegiate Professor in the Social Sciences Division at the University of Chicago</p>


    
    <h5>Ana Lucia Araujo</h5>
    <p>I am a social and cultural historian. My transnational and comparative research explores the history and the memory of the Atlantic slave trade and slavery and their present social and cultural legacies. I am particularly interested in the public memory, heritage, and visual culture of slavery.

        I am a member of the Board of Editors of the American Historical Review. In 2017, I joined the International Scientific Committee of the UNESCO Slave Route Project.</p>
    
    
    
    <h5>Elizabeth Clark-Lewis</h5>
    <p>Elizabeth Clark-Lewis, PhD  is Professor of History at Howard University. Since 1990 she has directed its Public History Program. The former Director of Graduate Studies has served on the Executive Board of the Organization of American Historians and as the National Director of the Association of Black Women Historians. She is one of the founders of the Afro-American Historical and Genealogical Association. Professor Clark-Lewis authored Keep It Locked: 106 Tributes to AJ Calloway (2014); Synergy: Public History At Howard University  (2011); Emerging Voices and Paradigms:  Black Women's Scholarship  [Co-editor]  (2008); First Freed: Emancipation in the District of Columbia  (2002); Living In,  Living Out: African American Domestics in Washington, DC  (1996); Northern Virginia Community College: An Oral History, 1965 - 1985  [Co-author] (1987); and, The Transition From Live-in to Day Work  (1985).  Elizabeth Clark-Lewis has written twenty-one articles for scholarly publications. As a co-producer of Freedom Bags, a 1990 WETA/PBS documentary, she received the Oscar Micheaux Best Documentary Award. 
</p>

    
    <h5>Gerald Eric Daniels</h5>
    <p>I am Gerald Eric Daniels Jr., Assistant Professor of Economics and Associate Director of Undergraduate Studies in the Department of Economics at Howard University. I received my Ph.D. in Economics from the University of California, Riverside. My research interests are in Macroeconomics, Economics of Inequality, and Applied Econometrics. I also have considerable interest in Big Data Analytics. My current research focuses on a variety of topics revolving around student loan debt. </p>

    <h5>Ned Britt</h5>
    <p>Dr. Ned Britt, Jr., born and raised in Harlem, NYC., is a full time Lecturer at Howard University, in the Department of Health, Human Performance and Leisure Studies. Dr. Ned Britt retired from Towson University in 2008 as Associate Professor of Kinesiology and Director of Campus Recreation.  He is also, an Adjunct faculty at Prince George’s Community College.  Most of his experience has been at a collegiate level, however he has taught 7th – 9th grade physical education at Lombard Jr. High in Baltimore city.
        Over the course of his career, he has taught numerous courses including Swimming, Individualized Fitness, Backpacking, Mountaineering and Methods of Teaching Physical Education on the Secondary Level, Introduction to Recreation and Leisure, Organization and Administration of Recreational Sports.  Dr. Britt has also taught Beginning Swimming with The Prince George Sports and Learning Complex.</p>

    <h5>Andre' Byers</h5>
    <p>politics: Mr. Andre Byers is a serial entrepreneur, academic and investor with wide-ranging interests.  His efforts mainly focus on creating ways to reduce barriers of entry for aspiring entrepreneurs and increasing capital for low- to moderate-income people.  

        As an academic, Byers serves as a Lecturer at Howard University and serves as Director of the University’s Interdisciplinary Minor in Community Development.  His courses and program direction focus on economic development with the intent to provide students with the knowledge, skillset and tools needed to play a proactive role in community revitalization processes in cities throughout the world. 
        
        Mr. Byers recently served as the President & CEO of the Development Corporation of Columbia Heights (DCCH), a community</p>

    <h5>J. Jarpa Dawuni</h5>
    <p>J. Jarpa Dawuni is Associate Professor of Political Science at Howard University, Washington D.C. She is a qualified Barrister-at-Law before the Ghana Superior Courts of Judicature. She holds a Doctorate in Political Science from Georgia State University. Her primary areas of research include judicial politics, women in the legal professions, gender and the law, international human rights, women’s civil society organizing and democratization. Her two recent books are International Courts and the African Woman Judge: Unveiled Narratives (Routledge, 2018) co-edited with Judge Akua Kuenyehia and Gender and the Judiciary in Africa: From Obscurity to Parity? (Routledge, 2016), co-edited with Gretchen Bauer. In 2018 she was a Fulbright Specialist Scholar to Ghana where she designed a Center for Research in African Union Law. In 2016, she was awarded the Carnegie African Diaspora Fellowship to undertake a project on graduate student mentoring and research at the Faculty of Law, University of Ghana.

    </p>
</body>
</html>