<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href="styles.css" type="text/css">
    <title>Document</title>
</head>
<body>
  <div class="container">
        
    <div class="navigation"> 
        
            <img src="./true_or_false.png" width="25px" height="25px"></img>
        

        <div class="menu">
            <a href="about.html">About</a>
            <a href="content.html">Catergory</a>
            <a href="Meet_The_Team.html">Meet the Team</a>
            <a href="apply.html">Apply</a>
            <a href="SignIn.html">Login</a>
        </div>

        <div class="icon">      
            <a href="#"><i class="fab symbol fa-instagram"></i></a>
            <a href="#"><i class="fab symbol fa-facebook-square"></i></a>
        </div>
          
    </div>
</div>   
  
  
    <label for="subjects"><h1>Categories:</h1></label>
    <select id="subjects">
    <!-- <input id="subjects" name="category"> -->
      <option value="history">History</option>
      <option value="health">Health</option>
      <option value="music">Music</option>
      <option value="economics">Econimics</option>
      <option value="politics">Politics</option>
    </select>
    
    

<script>script.js</script>    
</body>
</html>