
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./styles.css" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        
        <div class="navigation"> 
            
                <img src="./true_or_false.png" width="25px" height="25px"></img>
            

            <div class="menu">
                <a href="about.html">About</a>
                <a href="content.html">Catergory</a>
                <a href="Meet_The_Team.html">Meet the Team</a>
                <a href="apply.html">Apply</a>
                <a href="SignIn.html">Login</a>
            </div>

            <div class="icon">      
                <a href="#"><i class="fab symbol fa-instagram"></i></a>
                <a href="#"><i class="fab symbol fa-facebook-square"></i></a>
            </div>
              
        </div>
    </div>   
    
    <h1>Facts or Myth is the common ground<br>
            the bridges the facts and oppinons,<br> 
            to logic!</h1>
    <hr>
   





    </body>
</html>
   