<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <div class="navigation"> 
            
                <img src="./true_or_false.png" width="25px" height="25px"></img>
            

            <div class="menu">
                <a href="about.html">About</a>
                <a href="content.html">Catergory</a>
                <a href="Meet_The_Team.html">Meet the Team</a>
                <a href="apply.html">Apply</a>
                <a href="SignIn.html">Sign Up</a>
            </div>

            <div class="icon">      
                <a href="#"><i class="fab symbol fa-instagram"></i></a>
                <a href="#"><i class="fab symbol fa-facebook-square"></i></a>
            </div>
              
        </div>
    </div>   
    <h1>Are You A Member?</h1>
    <form action="/" method = "post">
<label for="sign up" >
    
    <label for="fn">First Name:</label>
    <input type="text" id ="fn"name="nammo">
    <label for=ln>Last Name:</label>
    <input type="text" id ="ln" name="names">
    <label for="address">Adress:</label>
    <input type="text" id ="address" name="address">
    <label for = "phone">Phone Number:</label>
    <label for="Username">Desired Username:</label>
    <input type="text" id="Username" name="Username" required>Desired password:</input>
   
    
    <label for="sq">Select your 1st Security Questions</label>
    <select name="security_questions" id="sq"> 
    <option value="school">Name of First Highschool?</option>
    <option value="color">Favorite Color?</option>
    <option value="middle_name">Mother's middle name</option>
    </select>
    
    </select>

    <label for="sq">Select your 2nd Security Questions</label>
    <select name="security_questions" id="sq"> 
    <option value="school">Name of First Highschool?</option>
    <option value="color">Favorite Color?</option>
    <option value="middle_name">Mother's middle name</option>
    </select>
    <input type="button" id="signup"><h3>Sign Up</h3></input>
    

    </form>



   <script>signup3.js</script> 

</body>
</html> 